@model IEnumerable<Telefonbok.Models.Kontakt>
@{Layout = "~/Views/Shared/_Layout.cshtml";}

@{
    ViewBag.Title = "SokKontakter";
}

<h2>Sök kontaker</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.TextBox("sökfras")
    <input type="submit" value="sök" class="uk-button uk-button-success " />

}

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Förnamn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Efternamn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefonnummer)
        </th>
        <th></th>
    </tr>

@if (Model != null)
{
   
    foreach (var item in Model)
    {
        <tr class="uk-animation-slide-bottom">
            <td>
                @Html.DisplayFor(modelItem => item.Förnamn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Efternamn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefonnummer)
            </td>
            <td>
               @Html.ActionLink("Ändra", "AndraKontakt", new { id = item.Id }, new { @class = "uk-button uk-button-primary" })
                @using (Html.BeginForm("TaBortKontakt", "Kontakt", FormMethod.Post, new { id = item.Id }))
{
    <input type="hidden" name="id" id="value" value="@item.Id" placeholder="">
    <input class="uk-button uk-button-danger" id="submit" type="submit" value="Ta bort" />
}
            </td>
        </tr>
     
    }
}

</table>
